# Network Configuration
RPC_URL=https://rpc.open-campus-codex.gelato.digital
PRIVATE_KEY=your_private_key_here

# Contract Deployments
CUSTOM_PRICE_FEED_ADDRESS=0x592C7BEE8B59c0bbE6E431e35b47469CD56de421
ORDER_BOOK_ADDRESS=0xB6d356A248c9aA410a3b91Bca7Eaf0BE3E15AE0d

# Owner Address
OWNER_ADDRESS=0x225d5a1079121faD050a33bDf1373bAf71aa4219

# DIA Oracle Configuration on EDU Chain
DIA_ORACLE_ADDRESS=0x6626f442eBc679f7e35bC62E36E3c1e8820C81C9
